h1 {
   text-align: center;
}

p, body{
    text-align: center;
    font-family: monospace;
    margin: 20px 30px;
    font-size: 14px;
}

.perfil {
    border-radius: 50%;
    color: #fff;
    position:50%;
}

body{
    background-image: url(cool-background.png);
    background-size: cover;
    color: #fff;
    text-align: center;
}


ul.toque li{
width: 95%;  
}